body {
	margin: 0;
	padding: 0;
	font-family: "IBM Plex Mono", monospace;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.meta {
	font-weight: 300;
}
.meta {
	font-weight: 300;
}
.tag {
	font-weight: 400;
}
.value {
	display: flex;
	font-weight: 500;
	justify-content: center;
	align-items: center;
	position: relative;
}
.key {
	font-weight: 500;
}
.key-value {
	display: flex;
	align-items: center;
}
.ArrayView {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
span.meta.tab {
	font-size: 2rem;
}
.array,
.object {
	padding: 1% 5%;
}
span.meta.comma {
	position: absolute;
	bottom: 0;
	left: 100%;
}
span.tag.openingBrace,
span.tag.closingBrace {
	font-size: 2rem;
}
